body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}
.firsthalf
{
    background-color: #1F2937;
    color: white;
    font-weight: 900;
    margin: none;
    padding: 2.7em;
    padding-bottom: 50px;
}
.header
{
    /* border: solid 2px; */
    display: flex;
    justify-content: space-around;
    padding: 0 2em;
}
.header ul
{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    padding: 0 25px;
}
.header li
{
    text-decoration: none;
    list-style-type: none;
}
.secondcolumn
{
    padding: 2em;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.secondcolumn div
{
    text-wrap: wrap;
    
}
button
{
    border-radius: 10%;
    background-color: rgb(94, 94, 236);
    color: white;

    padding: 8px;
}
#image
{
    align-self: center;
    border: solid 2px;
    height: 150px;
    width: 350px;
    flex-shrink: 0;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-items: center; */
}
.secondhalf
{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;

}
.ilustration
{
    padding-top: 20px;
    display: flex;
    gap: 60px;
    height: 250px;
    justify-content: center;
}
.ilustration div
{
    width: 120px;
    /* height:  100px; */
}
.ilustration div div
{
    border: 4px black solid;
    border-radius: 10%;
    width: 100px;
    height:  100px;
    /* align-self: flex-end; */
}
.thirdhalf
{
    height: 180px;
    padding: 2em 3em;
    background-color: rgb(213, 202, 202);
    display:flex;
    justify-content: center;
    /* align-items: center; */
    font-style: italic;
    flex-direction: column;
    text-justify: auto;

}
.thirdhalf div
{
    align-self: center;
}
.qouter{
    /* font-size: large; */
    font-weight: bold;
    align-self: flex-end;
    text-align: right;
}
.fourthhalf
{
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    
}
.box
{
    background-color: rgb(94, 94, 236);
    border: solid 2px;
    border-radius: 5px;
    width: 45em;
    margin: 20px 50px;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.box button
{
    border: white 2px solid;
}
footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    height: 9em;
    /* padding: ; */
    text-align: center;
}
/* }
.header nav
{

} */

